<a href="https://colab.research.google.com/github/qazpoiu79/pds-practice/blob/NAVER_SHOPPING/nv_shppng_nrmlz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Pandas DataFrame*으로 CSV 파일을 읽어서 정규화를 마친 뒤 DB에 테이블로 올린다.
  * CSV파일 경로 : /content/drive/MyDrice/Colab Notebooks/NAVER SHOPPING/CSVs

In [ ]:
import pandas as pd

In [ ]:
apparel_f_blouseNshirts = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/apparel_f_blouse&shirts.csv', header=None, names=list(['category_id','category_title','subcategory_title','subsubcategory_title','item_mid','rank','item_title','item_price','item_brand','item_regdate']))
apparel_f_tshirts = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/apparel_f_tshirts.csv', header=None, names=list(['category_id','category_title','subcategory_title','subsubcategory_title','item_mid','rank','item_title','item_price','item_brand','item_regdate']))
apparel_f_cardigan = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/apparel_f_cardigan.csv', header=None, names=list(['category_id','category_title','subcategory_title','subsubcategory_title','item_mid','rank','item_title','item_price','item_brand','item_regdate']))
apparel_f_knitNsweater = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/apparel_f_knit&sweater.csv', header=None, names=list(['category_id','category_title','subcategory_title','subsubcategory_title','item_mid','rank','item_title','item_price','item_brand','item_regdate']))
apparel_f_onepiece = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/apparel_f_onepiece.csv', header=None, names=list(['category_id','category_title','subcategory_title','subsubcategory_title','item_mid','rank','item_title','item_price','item_brand','item_regdate']))

# apparel_f_blouseNshirts
# apparel_f_tshirts
# apparel_f_cardigan
# apparel_f_knitNsweater
apparel_f_onepiece

    category_id category_title  ... item_brand item_regdate
0        100103           패션의류  ...       아디다스      2021-03
1        100103           패션의류  ...        NaN      2020-08
2        100103           패션의류  ...       라코스테      2020-02
3        100103           패션의류  ...   써스데이아일랜드      2021-03
4        100103           패션의류  ...   플라스틱아일랜드      2021-04
..          ...            ...  ...        ...          ...
95       100103           패션의류  ...       쥬시쥬디      2021-04
96       100103           패션의류  ...         지컷      2020-06
97       100103           패션의류  ...   플라스틱아일랜드      2021-05
98       100103           패션의류  ...        NaN      2021-04
99       100103           패션의류  ...         듀엘      2020-06

[100 rows x 10 columns]

In [ ]:
apparel_f_onepiece_categoryTbl = apparel_f_onepiece[['category_id','category_title','subcategory_title','subsubcategory_title']]
apparel_f_onepiece_itemTbl = apparel_f_onepiece[['item_mid','item_title','item_price','item_brand','item_regdate']]
apparel_f_cardigan_categoryTbl = apparel_f_cardigan[['category_id','category_title','subcategory_title','subsubcategory_title']]
apparel_f_cardigan_itemTbl = apparel_f_cardigan[['item_mid','item_title','item_price','item_brand','item_regdate']]
apparel_f_knitNsweater_categoryTbl = apparel_f_knitNsweater[['category_id','category_title','subcategory_title','subsubcategory_title']]
apparel_f_knitNsweater_itemTbl = apparel_f_knitNsweater[['item_mid','item_title','item_price','item_brand','item_regdate']]
apparel_f_tshirts_categoryTbl = apparel_f_tshirts[['category_id','category_title','subcategory_title','subsubcategory_title']]
apparel_f_tshirts_itemTbl = apparel_f_tshirts[['item_mid','item_title','item_price','item_brand','item_regdate']]
apparel_f_blouseNshirts_categoryTbl = apparel_f_blouseNshirts[['category_id','category_title','subcategory_title','subsubcategory_title']]
apparel_f_blouseNshirts_itemTbl = apparel_f_blouseNshirts[['item_mid','item_title','item_price','item_brand','item_regdate']]


## df.to_csv로 내보낼 때는 컬럼 헤더를 제거하고 내보내야 한다. DB 테이블을 먼저 모델링 한 뒤에 레코드만 입력할 거니까.

In [ ]:
### 각 세부카테고리의 전체 데이터를 category_Tbl, item_Tbl로 정규화한 뒤 csv파일로 저장함.
### mode = 'w'이고 index와 header는 제외하고 저장하기 위해 각각 None 부여함.

apparel_f_blouseNshirts_categoryTbl.to_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/normalized_Tbl/apparel_f_blouseNshirts_categoryTbl.csv', mode='w', index=False, header=False)
apparel_f_blouseNshirts_itemTbl.to_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/normalized_Tbl/apparel_f_blouseNshirts_itemTbl.csv', mode='w', index=False, header=False)
apparel_f_tshirts_categoryTbl.to_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/normalized_Tbl/apparel_f_tshirts_categoryTbl.csv', mode='w', index=False, header=False)
apparel_f_tshirts_itemTbl.to_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/normalized_Tbl/apparel_f_tshirts_itemTbl.csv', mode='w', index=False, header=False)
apparel_f_cardigan_categoryTbl.to_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/normalized_Tbl/apparel_f_cardigan_categoryTbl.csv', mode='w', index=False, header=False)
apparel_f_cardigan_itemTbl.to_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/normalized_Tbl/apparel_f_cardigan_itemTbl.csv', mode='w', index=False, header=False)
apparel_f_onepiece_categoryTbl.to_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/normalized_Tbl/apparel_f_onepiece_categoryTbl.csv', mode='w', index=False, header=False)
apparel_f_onepiece_itemTbl.to_csv('/content/drive/MyDrive/Colab Notebooks/nv_shppng/CSVs/normalized_Tbl/apparel_f_onepiece_itemTbl.csv', mode='w', index=False, header=False)

In [ ]:
apparel_f_blouseNshirts_categoryTbl

    category_id category_title subcategory_title subsubcategory_title
0        100105           패션의류              여성의류              블라우스;셔츠
1        100105           패션의류              여성의류              블라우스;셔츠
2        100105           패션의류              여성의류              블라우스;셔츠
3        100105           패션의류              여성의류              블라우스;셔츠
4        100105           패션의류              여성의류              블라우스;셔츠
..          ...            ...               ...                  ...
95       100105           패션의류              여성의류              블라우스;셔츠
96       100105           패션의류              여성의류              블라우스;셔츠
97       100105           패션의류              여성의류              블라우스;셔츠
98       100105           패션의류              여성의류              블라우스;셔츠
99       100105           패션의류              여성의류              블라우스;셔츠

[100 rows x 4 columns]